.ad-sidebar{
position:fixed;
top:75px;
left:0;
width:270px;
height:calc(100vh - 75px);
background:white;
padding:25px 15px;
border-right:1px solid #eee;   /* ⭐ simple line instead of shadow */
}

.ad-menu{
display:flex;
flex-direction:column;
gap:12px;
}

.ad-item{
display:flex;
align-items:center;
gap:12px;
padding:14px;
border-radius:12px;
cursor:pointer;
font-weight:600;
color:#666;
transition:.3s;
}

.ad-item:hover{
background:#fff1e9;
color:#ff3c00;
}

.ad-item.active{
background:linear-gradient(90deg,#ff7a00,#ff3c00);
color:white;
}

.ad-item.logout{
margin-top:20px;
color:#ff3c00;
}